<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>API Project: Request Header Parser Microservice</title>
    <meta name="description" content="API Project: Request Header Parser Microservice
 FCC">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
       API Project: Request Header Parser Microservice<br/>
       User Story:
      </h1>      
    </header>
    <main>
      <ol>
        <li>I can get the IP address, preferred languages (from header Accept-Language)
and system infos (from header User-Agent) for my device.
        </li>
      <p>
        <b>Example Usage:</b>
      </p>
      <a href="./api/whoami">[project url]/api/whoami</a><br/>
      <p>
        <b>Example Output:</b>
      </p>
      <p>{"ipaddress":"127.0.0.1",
          "language":"es,en-US;q=0.9,en;q=0.8,fr;q=0.7",
          "software":"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/66.0.3359.181 Chrome/66.0.3359.181 Safari/537.36"}</p>
    </main>
    <footer>
      Coded by <a href="https://codepen.io/entropia-studio" target="_blank">Entropia Studio</a>!
    </footer>
  </body>
</html>
